*{
    background-color: #3866d4;
}
.container {
    display: flex;
    justify-content: space-between;
  }
  
  .input,.output {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    text-align: left;
  }
  
  h3 {
    margin-bottom: 10px;
    color: white;
  }
  
  .input-text,
  .output-text {
    width: 500px;
    height: 400px;
    padding: 15px;
    border: 2px solid #464646;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  .output-text{
    background-color: #464646;
  }

  @media only screen and (max-width: 868px){
    .input-text,.output-text{
        width: 250px;
        height: 250px;
    }
  }